<% provide(:title, @technique.name) %>

<section class="technique_title">
  <h1>
    <%= @technique.name %>
  </h1>
</section>

<section class="tutorials">
  <% if @technique.tutorials.any? %>
    <h3>Tutorials (<%= @technique.tutorials.count %>)</h3>
    <table>
      <tr>
        <th>Name</th>
        <th>Link</th>
        <th>Description</th>
      </tr>
     <% @tutorials.each do |tutorial| %>
        <tr>
          <td><%= link_to tutorial.name, tutorial_path(tutorial.id) %></td>
          <td> <a href= <%= tutorial.link %> target="_blank"><%= tutorial.link %></a> </td>
          <td><%= tutorial.description %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</section>
